/target
Cargo.lock.orig
*.sqlite
*.sqlite-wal
*.sqlite-shm
.DS_Store
/openapi/generated/
apps/server/gen/
node_modules/
clients/tv-android/.gradle/
clients/tv-android/**/build/
clients/tv-android/local.properties
clients/tv-android/*/gen/
